body {
    font-family: Arial, Helvetica, sans-serif;
}

.d-flex{
    display: flex;
    align-items: center;
}

.text-centre {
    text-align: center;
}

.justify-between {
    justify-content: space-between;
}
.justify-centre {
    justify-content: center;
}


#box {
    width: 40%;
    margin: 100px auto 0px auto;
    padding: 20px 0px 20px 0px;
    border-radius: 15px;
    background-color: #cfedff;
}

#heading{
    color: #202020;
}

#input {
    width: 200px;
    padding: 7px;
    border: 1px solid #a7a7a7;
    border-radius: 10px;
    outline: none;

}

#alert{
    color: #ff0000;
}

#submit {
    margin-left: 5px;
    padding: 5px 15px;
    color: #fff;
    background-color: #0099ff;
    border: solid #0099ff;
    border-radius: 10px;
}

#edit-btn {
    cursor: pointer;
    color: #0066ff;
    border: none;
    background-color: transparent;
}

#dlt-btn {
    cursor: pointer;
    color: #ff0000;
    border: none;
    background-color: transparent;

}

#clear {
    cursor: pointer;
    padding-top: 10px;
    color: #ff0000;
    border: none;
    background-color: transparent;
}

#ul{
    padding: 0px  20px ;
}

#list-icon{
    font-size: 0.8rem;
    color: #2e2e2e;
}